// screen
$desktop: 1365px;
$laptop: 1199px;
$tablet: 1023px;
$mobile: 767px;
$sm-mobile: 599px;
$xs-mobile: 359px;

// color
$layout-color: #f2f1de;
$primary-color: #1976d2;
$red-color: #d32f2f;
$white-color: #ffffff;
$text-color: #000000de;
$black-color: #000000;
$background-color: #f5f5f5;
$layout-color-mobile: #2a3e52;
$button-color: rgb(44, 62, 80);
$side-bar-color: #898461;
$background-message: #bbad89;
$background-list-contact: #eaeaea;

// layout
$header-height: 64px;
$footer-height: 32px;

// space
$space-xs: 0.5rem;
$space-sm: 0.8rem;
$space-md: 1.2rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
$space-xxl: 3rem;

// border-radius
$round-xs: 0.35rem;
$round-sm: 0.7rem;
$round-md: 1.4rem;
