// screen
$desktop: 1365px;
$laptop: 1199px;
$tablet: 1023px;
$mobile: 767px;
$sm-mobile: 599px;
$xs-mobile: 359px;

// color
$white: #ffffff;
$pink: #ff69b4;
$red: #ff0000;
$purple: #800080;
$off-purple: #9b30ff;
$blue: #0000ff;
$off-blue: #41729f;
$sky-blue: #87ceeb;
$pantone-blue: #0f4c8180;
$navy-blue: #000080;
$off-navy-blue: #34495e;

// layout
$header-height: 64px;
$footer-height: 32px;

// space
$space-xs: 0.5rem;
$space-sm: 0.8rem;
$space-md: 1.2rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
$space-xxl: 3rem;

// border-radius
$round-xs: 0.35rem;
$round-sm: 0.7rem;
$round-md: 1.4rem;
